$primary-color: #1E3226;
$secondary-color: #C46C54;
$tertiary-color: #A19F81;
$fourth-color: #7A9179;
$fifth-color: #EAD8AC;
$white: #fff;
$black: #111;
$lightgrey: rgb(228, 228, 228);
$darkgrey: rgb(49, 49, 49);